@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  display: inline-block;
  margin: 0;
  padding: 7px 19px;
  border: 1px solid var(--color-white);
  font-weight: var(--fw-500);
  font-size: clamp(18px, 1rem + 1vi, 20px);
  line-height: 1.21;
  letter-spacing: 0.8px;
  color: var(--color-black);
  text-align: center;
  background-color: var(--color-white);
  border-radius: 0;
  transition-property: background-color, color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: var(--color-purple-200);
    border-color: var(--color-black);
  }

  &--reverse {
    color: var(--color-white);
    background-color: var(--color-red-400);
    border-color: var(--color-red-400);

    &:hover {
      background-color: var(--color-red-600);
      border-color: var(--color-red-600);
    }
  }

  &--large {
    padding: 20px 32px;
    font-size: clamp(20px, 1rem + 1vi, 22px)
  }

  &--accent {
    padding: 12px 31px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-red-400);
    border-radius: var(--radius-xs);
    border-color: var(--color-red-400);

    &:hover {
      background-color: var(--color-red-600);
      border-color: var(--color-red-600);
      color: var(--color-white);
    }
  }

  &--send {
    max-width: fit-content;
    padding: 15px 24px;
    font-size: 18px;
    line-height: 1;
    color: var(--color-white);
    background-color: var(--color-dark);
    border-radius: var(--radius-s);

    &:hover {
      background-color: var(--color-gray-600);
      border-color: var(--color-gray-600);
      color: var(--color-milk-100)
    }
  }
}

*[class].swiper {
  .swiper-button {
    width: 64px;
    height: 64px;
    background-color: var(--color-gray-700);
    border-radius: var(--radius-round);
    top: 50%;
    transform: translateY(-50%);

    &::after {
      @include contain-background();

      content: '';
      position: absolute;
      height: 20px;
      width: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: var(--icon-swiper);
    }
  }

  .swiper-button-prev {
    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  .swiper-button-disabled {
  }

  .swiper-pagination {
  }

  .swiper-pagination-bullet {
  }
}