@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: rem(80) 0;
    min-height: 727px;
    background-position: 86% -45px;
    background-repeat: no-repeat;
  }

  &__content {
    z-index: 1;
    margin-inline: rem(100) 0;
    max-width: 630px;
    width: 100%;
  }

  &__desc {
    max-width: 437px;
    width: 100%;
    margin-bottom: rem(40);
    color: var(--color-black);
    letter-spacing: 1.44px;
  }

  &--home {
    .hero__desc {
      color: var(--color-white);
    }
  }

  &--about {
    .hero__inner {
      background-position: 81% 80px;
    }
  }

  &--services {
    .hero__inner {
      min-height: 661px;
      background-position: 84% 80px;
    }
  }

  &--works {
    .hero__inner {
      background-position: 89% 80px;
    }

    .hero__desc {
      max-width: 100%;
    }
  }

  &--security {

    .hero__inner {
      padding-top: rem(130);
      background-position: 100% 48px;
    }

    .hero__content {
      max-width: 828px;
      margin-inline: rem(50) 0;
    }

    h2 {
      margin-bottom: 20px;
    }

    .hero__desc {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .hero__item {
      width: fit-content;
      padding: rem(28) rem(40);
      border-radius: calc(var(--radius-m) * 5);
      font-size: 14;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &:first-child {
        background-color: var(--color-purple-691);
      }

      &:nth-child(2) {
        background-color: var(--color-red-391);
      }

      &:last-child {
        background-color: var(--color-purple-391);
      }

      p {
        letter-spacing: 1.6px;
        color: var(--color-white);
      }
    }
  }
}