/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

:root {
  --content-width: 1240px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Inter", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-black: #111111;
  --color-dark: #000207;
  --color-gray-100: #FBF8FF;
  --color-gray-400: #F2F2F2;
  --color-gray-700: #2C2C2E;

  --color-red-100: #FDEDFC;
  --color-red-120: #FAEDFF;
  --color-red-391: #FF8BD1E8;
  --color-red-400: #FD4C5C;
  --color-red-600: #B03D48;
  --color-purple-100: #EEEDFD;
  --color-purple-200: #E3CEFB;
  --color-purple-391: #D299FFE8;
  --color-purple-400: #C796FF;
  --color-purple-500: #781BFF;
  --color-purple-503: rgba(120, 27, 255, 0.03);
  --color-purple-691: #9B8BFFE8;
  --color-purple-800: #49009D;
  --color-blue-100: #E4EFFF;
  --color-blue-700: #000B33;
  --color-blue-770: rgba(0, 11, 51, 0.7);
  --color-blue-760: rgba(0, 11, 51, 0.6);


  //  radius
  --radius-round: 50%;
  --radius-main: 40px;
  --radius-secondary: 60px;
  --radius-m: 10px;
  --radius-s: 8px;
  --radius-xs: 3px;

  //gradient
  --gradient-main: linear-gradient(180deg, #DDC0FF 0%, #6615C4 100%);
  --gradient-secondary: linear-gradient(0.13deg, rgba(140, 48, 245, 0.4) 0.11%, rgba(200, 161, 244, 0.4) 111.96%);
  --gradient-section: linear-gradient(0.13deg, rgba(140, 48, 245, 0.2) 0.11%, rgba(200, 161, 244, 0.2) 111.96%);
  --gradient-accent: linear-gradient(0.13deg, rgba(254, 224, 91, 0.2) 0.11%, rgba(200, 161, 244, 0.2) 111.96%);
  --gradient-border: linear-gradient(90deg, #8C30F5 0%, #FF4B5C 100%);

  //icons
  --icon-bg-wave: url("data:image/svg+xml,%3Csvg width='1440' height='740' viewBox='0 0 1440 740' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.03' d='M725.828 705.729C412.2 764.881 135.9 735.691 0 705.729V0H1440V705.729C1345.85 683.917 1001.11 653.809 725.828 705.729Z' fill='%23781BFF'/%3E%3C/svg%3E");
}